<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<p>
					<h1 class="text-white">GUIDES</h1>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="team-area section-gap" id="team">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Meet Our Qualified City Guides</h1>
					<p>Who are waiting to show you around your new city!</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center d-flex align-items-center">
			<% guides.forEach(function (guide) { %>
			<div class="col-lg-3 col-md-6 single-team">
				<div class="thumb">
					<img class="img-fluid" src="<%= guide.profile_pic_url %>" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>
						<%= guide.first_name  %>
						<%= guide.last_name %>
					</h4>
					<h5>
						<i>
							<%= country %></i>
					</h5>
					<p>
						<%= guide.bio %>
					</p>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>